client
proto udp
dev tun
ca ca.crt
dh dh2048.pem
cert {{item.key}}.crt
key {{item.key}}.key
remote {{vpn_ip}} 1194
tls-auth ta.key 1
cipher DES-CBC
user nobody
group nogroup
verb 2
mute 20
keepalive 10 120
comp-lzo
persist-key
persist-tun
float
resolv-retry infinite
nobind
route {{vpc_base}}.0.0 {{vpc_mask_long}} vpn_gateway default
