port 1194
proto udp
dev tun0
ca keys/{{ca_name}}/ca.crt
cert keys/{{ca_name}}/{{vpn_name}}ServerKey.crt
key keys/{{ca_name}}/{{vpn_name}}ServerKey.key
dh keys/{{ca_name}}/dh2048.pem
server 10.1.0.0 255.255.255.0
crl-verify keys/{{ca_name}}/crl.pem
ifconfig-pool-persist servers/{{vpn_name}}/logs/ipp.txt
tls-auth servers/{{vpn_name}}/ta.key 0
cipher DES-CBC
user nobody
group nogroup
status servers/{{vpn_name}}/logs/openvpn-status.log
log-append servers/{{vpn_name}}/logs/openvpn.log
verb 2
mute 20
max-clients 64
keepalive 10 120
client-config-dir /etc/openvpn/servers/{{vpn_name}}/ccd
tls-server
comp-lzo
persist-key
persist-tun
ccd-exclusive
push "route {{vpc_base}}.0.0/{{vpc_mask}}"
