$info_ca = {
CA_NAME=>'{{ca_name}}',
CA_EXPIRE=>'3650',
KEY_SIZE=>'2048',
KEY_CONFIG=>'/etc/openvpn/openvpn-ssl.cnf',
KEY_DIR=>'/etc/openvpn/keys',
KEY_COUNTRY=>'{{vpn_country}}',
KEY_PROVINCE=>'{{vpn_state}}',
KEY_CITY=>'{{vpn_city}}',
KEY_ORG=>'{{vpn_org}}',
KEY_EMAIL=>'{{vpn_email}}',
}
