export KEY_DIR="/etc/openvpn/keys/{{ca_name}}"
export KEY_SIZE=2048
export CA_EXPIRE=3650
export KEY_EXPIRE=3650
export KEY_COUNTRY={{vpn_country}}
export KEY_PROVINCE={{vpn_state}}
export KEY_CITY={{vpn_city}}
export KEY_ORG={{vpn_org}}
export KEY_EMAIL={{vpn_email}}
export KEY_OU={{vpn_OU}}
export KEY_CN={{vpn_CN}}
export KEY_NAME={{vpn_name}}ServerKey
